<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="tc.airl2">

    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 查询所有软件包 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <!-- BATTERY_STATS -->
    <uses-permission android:name="android.permission.BATTERY_STATS"/>

    <!-- 更改您的音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:label="AirLW"
        android:name="tc.CrashLogger.CrashLogger"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name=".home"
            android:screenOrientation="portrait"
            android:label="AirLW"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.HOME"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name="tc.airl2.settings"
            android:exported="true">

        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>